################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/archive/MythicalProjectDays/bin/Debug/MythicalProjectDays.exe
/archive
/MythicalProjectDays/obj
